

// Process Parameters:

// Process Parameters for Quality_Filtering:
params.Quality_Filtering.tool =  "trimmomatic"  //* @dropdown @options:"trimmomatic","fastx" @description:"Choose quality removal tool to be used. Note:fastx option (fastx_toolkit fastq_quality_filter) is not suitable for paired reads." 
params.Quality_Filtering.phred =  33  //*  @dropdown @options:"33","64" @description:"Specifies the fastq quality encoding. Default is 33 which is now almost universally used, and 64 which is used in some older Illumina data"
params.Quality_Filtering.window_size =  10  //* @input @description:"Performs a sliding window trimming approach. It starts scanning at the 5' end and clips the read once the average quality within the window falls below a threshold (=required_quality)."  
params.Quality_Filtering.required_quality_for_window_trimming =  15  //* @input @description:"specifies the average quality required for window trimming approach" 
params.Quality_Filtering.leading =  5  //* @input @description:"Cut bases off the start of a read, if below a threshold quality" 
params.Quality_Filtering.trailing =  5  //* @input @description:"Cut bases off the end of a read, if below a threshold quality"  
params.Quality_Filtering.minlen =  36  //* @input @description:"Specifies the minimum length of reads to be kept"  
params.Quality_Filtering.minQuality =  20  //* @input @description:"Minimum quality score to keep reads"
params.Quality_Filtering.minPercent =  100  //* @input @description:"Minimum percent of bases that must have entered minQuality"
params.Quality_Filtering.remove_previous_reads =  "false"  //*  @checkbox @description:"After successful completion of the quality filtering step, previous reads will be removed to save space. However, this might affect resume functionality."

// Process Parameters for Extract_Barcode:
params.Extract_Barcode.five_prime =  "AAGCTT"  //*  @input @description:"5 prime sequence located before barcode"
params.Extract_Barcode.three_prime =  "GCGGCCGC"   //*  @input @description:"3 prime sequence located after barcode sequence"
params.Extract_Barcode.min_len =  50  //* @input @description:"Min length of the barcode"  
params.Extract_Barcode.max_len =  80  //* @input @description:"Max length of the barcode" 
params.Extract_Barcode.mismatch =  1  //* @input @description:"Mismatch in the 5 and 3 prime sequences" 

// Pipeline Config:
$HOSTNAME='default'

params.run_FastQC =  "yes"  //* @dropdown @options:"yes","no"
params.run_Quality_Filtering =  "yes"  //* @dropdown @options:"yes","no" @show_settings:"Quality_Filtering"
params.run_Merge_Pairs =  "yes"  //* @dropdown @options:"yes","no" @show_settings:"Merge_Pairs"
params.run_Extract_Barcode =  "yes"  //* @dropdown @options:"yes","no" @show_settings:"Extract_Barcode"

profiles {
  docker { 
        process.container = "dolphinnext/barcodeseq:1.0"
        docker.enabled = true 

  }
  singularity { 
        process.container = "dolphinnext/barcodeseq:1.0"
        singularity.enabled = true 
  }
}
